<html>

<body>

    <h1>New Menu Item</h1>

    <form action="#" method="post">
        <p>Name:</p>
        <input type="text" name="name">
        <p>Price:</p>
        <input type="text" name="price">
        <p>Description:</p>
        <input type="text" name="description">
        <p>Course:</p>
        <label><input type="checkbox" name="appetizer" value="Appetizer">Appetizer</label><br>
        <label><input type="checkbox" name="entree" value="Eppetizer">Entree</label><br>
        <label><input type="checkbox" name="dessert" value="Dessert">Dessert</label><br>
        <label><input type="checkbox" name="beverage" value="Beverage">Beverage</label><br>
        </br>
        <input type="submit" value="Create">
    </form>

</body>

</html>